## PhpStorm Project Files
.idea/

### WordPress template
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

## Git Merge Files
*.orig

## Old Files as deemed by Developers
*.old
*_old