/* Micro ClearFix Mixin */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.footer-menu-wrap,
.footer-hr,
.footer_copyright_menu,
#after_footer_payments {
  display: none;
}
.logo {
  color: #6e6e6e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}
.header-type-variant2 .logo,
.header-type-variant6 .logo,
.header-type-variant5 .logo {
  display: block !important;
}
.fixed-header-area .logo {
  font-size: 36px;
  max-width: 150px;
  margin: 5px;
}
h3.widget-title {
  color: #85c435;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.woocommerce-breadcrumb,
.back-to {
  display: none;
}
div#breadcrumb {
  display: none;
}
.variations_button {
  padding-top: 0;
  margin-top: 0;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .post-type-archive-product .sidebar_grid {
    float: none;
    width: 100%;
  }
  .post-type-archive-product #default_products_page_container,
  .post-type-archive-product .grid_content.with-sidebar-left,
  .post-type-archive-product .grid_content.with-sidebar-right {
    width: 100%;
    float: none;
  }
  .rock-product-slide .product-grid {
    margin: 13px!important;
  }
}
@media only screen and (min-width: 1600px) {
  .rock-product-slide .product-grid {
    margin: 11px!important;
  }
}
.sidebar_grid .widget_shopping_cart {
  border: solid 3px #85c435;
  border-radius: 5px;
}
@media only screen and (min-width: 980px) {
  .sidebar_grid .widget_shopping_cart.fixed-sidebar {
    position: fixed;
    top: 0;
    width: inherit;
  }
}
.sidebar_grid .widget_shopping_cart ul.cart_list {
  padding-right: 10px;
  max-height: 590px;
  min-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li {
  width: 100%;
  padding: 5px;
  zoom: 1;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li:before,
.sidebar_grid .widget_shopping_cart ul.cart_list li:after {
  content: "";
  display: table;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li:after {
  clear: both;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li > a {
  float: none;
  font-weight: 700;
  font-size: 15px;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li > a:hover {
  color: #444;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li dl.variation {
  width: 49%;
  min-width: 120px;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li dl.variation dt {
  display: none;
  padding-right: 4px;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li dl.variation dd {
  font-weight: 700;
  font-size: 12px;
  font-weight: bold;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li dl.variation dt,
.sidebar_grid .widget_shopping_cart ul.cart_list li dl.variation dd {
  text-transform: lowercase;
  font-variant: small-caps;
  float: left;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li dl.variation dt p,
.sidebar_grid .widget_shopping_cart ul.cart_list li dl.variation dd p {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  font-weight: bold;
}
.sidebar_grid .widget_shopping_cart ul.cart_list li .quantity {
  float: right;
}
.sidebar_grid .widget_shopping_cart p.total,
.sidebar_grid .widget_shopping_cart p.buttons {
  float: right;
  zoom: 1;
}
.sidebar_grid .widget_shopping_cart p.total:before,
.sidebar_grid .widget_shopping_cart p.buttons:before,
.sidebar_grid .widget_shopping_cart p.total:after,
.sidebar_grid .widget_shopping_cart p.buttons:after {
  content: "";
  display: table;
}
.sidebar_grid .widget_shopping_cart p.total:after,
.sidebar_grid .widget_shopping_cart p.buttons:after {
  clear: both;
}
.sidebar_grid .widget_shopping_cart p.total a:hover,
.sidebar_grid .widget_shopping_cart p.buttons a:hover {
  background-color: #666666;
}
.widget_shopping_cart {
  padding: 10px;
}
.widget_shopping_cart img {
  display: none;
}
/* slider headers*/
.category-slider-products .food-slider .slider-title,
.category-header .slider-title,
.home .slider-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}
/*.product-grid is the individual product item */
.product-grid {
  position: relative;
  float: left;
  margin-top: 20px;
  border: 0;
  border-color: #85c435;
  border-bottom: 3px solid #85c435 !important;
  box-shadow: 2px 3px 8px #888;
  background: #fafafa;
  /* these are the regular/small buttons */
  /* nutrition block, add-to-cart, etc. */
}
.product-grid:hover {
  box-shadow: 2px 3px 8px #555;
}
.product-grid .product-image div.img-wrapper {
  width: 100%;
}
.product-grid .product-name {
  position: relative;
  display: block;
  margin-top: 0;
  width: 100%;
  font-weight: 700;
  text-align: center;
}
.product-grid .product-name a {
  color: #85c435;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -1px;
  height: 22px;
  display: block;
}
.product-grid ul.product-variant-toplevel-options li {
  float: left;
  margin-top: -10px;
}
.product-grid ul.product-variant-toplevel-options > li.selected .button {
  background-color: #85c435;
}
.product-grid .product-information {
  padding-bottom: 0;
}
.product-grid div.product-variant-details {
  display: none;
  /* the nutrition information */
}
.product-grid div.product-variant-details.selected {
  display: block;
}
.product-grid div.product-variant-details .nutrition-block {
  text-align: left;
}
.product-grid div.product-variant-details .nutrition-block legend {
  font-weight: 900;
  text-align: left;
}
.product-grid div.product-variant-details a.added_to_cart.wc-forward {
  clear: both;
  display: block;
  position: absolute;
  right: 15px;
}
.product-grid div.product-variant-details li.nutritionRow {
  background: transparent;
  text-align: left;
}
.product-grid div.product-variant-details li.nutritionRow .value {
  float: right;
}
.product-grid div.product-variant-details li.nutritionRow:nth-child(odd) {
  background: #f1f1f1;
}
.product-grid div.product-variant-details .priceRow {
  margin-top: 5px;
  text-align: left;
}
.product-grid div.product-variant-details .priceRow .price {
  width: auto;
  text-align: right;
  float: right;
  display: inline;
  margin-top: 0 !important;
}
.product-grid div.product-variant-details div.product-variant-cart {
  text-align: right;
}
.product-grid div.product-variant-details div.qty-block {
  text-align: right;
}
.product-grid div.product-variant-details div.qty-block label {
  display: none;
}
.product-grid div.product-variant-details .single_add_to_cart_button {
  margin-top: 0;
}
.product-grid div.product-variant-details div.quantity {
  float: left;
}
.product-grid div.product-variant-details div.quantity button {
  background: inherit;
  color: #999999;
  font-size: 15px;
}
.product-grid div.product-variant-details div.quantity button:hover {
  color: #444444;
}
.product-grid div.product-variant-details div.quantity input.qty {
  width: 18px;
  padding: 2px 4px;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
}
.quantity.buttons_added .minus {
  background: none;
}
.quantity.buttons_added .minus:hover {
  background: none;
}
.quantity.buttons_added .plus {
  background: none;
}
.quantity.buttons_added .plus:hover {
  background: none;
}
.single_add_to_cart_button {
  margin-top: 13px;
}
.widget_shopping_cart_content .amount,
.widget_shopping_cart_content .onsale-price .price,
.widget_shopping_cart_content .currentprice {
  color: #000;
  font-weight: 300;
  font-size: 14px;
}
.home .container.homecontainer {
  text-align: center;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .home .container.homecontainer p {
    width: 80%;
    margin: 3px auto;
  }
}
/*
*fix the slider height *\\
*/
.category-slider-products .food-slider .product-descr,
.shortcode-products.products_grid .product-descr,
.product-grid .product-descr,
.products .product-descr {
  display: block;
  line-height: 14px;
  min-height: 134px;
}
@media only screen and (max-width: 768px) and (min-width: 480px) {
  .category-slider-products .food-slider .product-descr,
  .shortcode-products.products_grid .product-descr,
  .product-grid .product-descr,
  .products .product-descr {
    font-size: 10px;
    line-height: 13px;
  }
}
.addtocont {
  margin-top: 0;
}
.rock-product-slide .product-grid {
  margin: 7px;
}
/* this is duplicated to override existing wp styles! sorry it's jank. */
@media only screen and (max-width: 479px) {
  body .food-slider.related .carousel,
  body.home .food-slider .carousel,
  body .category-slider-products .carousel {
    height: auto !important;
    margin-bottom: 15px;
  }
  .rock-product-slide {
    width: 97%!important;
  }
}
@media only screen and (max-width: 767px) {
  .rock-product-slide {
    width: 98%;
  }
  .food-slider .prev {
    display: inline;
    float: left!important;
    width: 46%!important;
    position: relative!important;
    top: 0px!important;
    right: 0px!important;
  }
  .food-slider .next {
    display: inline;
    float: right!important;
    width: 46%!important;
    position: relative!important;
    top: 0px!important;
  }
}
body .food-slider.related .carousel,
body.home .food-slider .carousel,
body .category-slider-products .carousel {
  height: auto !important;
  margin-bottom: 15px;
}
/* header phone, hour message */
.header-phone,
.header-hours {
  margin-right: 10px;
}
@media only screen and (max-width: 479px) {
  .header-phone,
  .header-hours {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .header-phone,
  .header-hours {
    display: inline !important;
  }
}
.header-phone a,
.header-hours a {
  font-weight: bold;
}
.header-phone a:hover,
.header-hours a:hover {
  color: #000;
}
/* the business hours table generated by the business hours plugin */
div.businessHours h4 {
  color: gray;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
}
div.businessHours table {
  text-align: left;
  width: auto;
}
div.businessHours table td,
div.businessHours table th {
  padding: 1px 3px;
}
div.businessHours table tr:nth-child(odd) {
  background: #f1f1f1;
}
/*
*FOOTER stuff
*/
.footer_block .textwidget p {
  color: white;
}
.footer_block .textwidget p a,
.footer_block .textwidget p span {
  color: white;
}
.footer_block .textwidget p:hover {
  color: #85c435;
}
.footer_block .textwidget p:hover a,
.footer_block .textwidget p:hover span {
  color: #85c435;
}
.footer-home span {
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}
.footer-email i {
  float: left;
  font-size: 28px;
  margin-right: 20px;
  margin-top: 7px;
  width: 25px;
  height: 25px;
}
@media only screen and (max-width: 479px) {
  .footer-home,
  .footer-phone,
  .footer-mail,
  .footer-email {
    padding: 0 0 0 38px;
    text-align: left;
  }
}
.contact_info p span {
  color: #444;
  font-weight: normal;
  font-size: 12px;
}
/*
*CHECKOUT
*/
.wc-checkout-totals th {
  padding-right: 8px;
}
/*.woocommerce-shipping-fields h3,*/
/*.woocommerce-shipping-fields h2 {*/
  /*display: none;*/
/*}*/
.woocommerce-shipping-fields #local-pickup-time-select,
.woocommerce-shipping-fields #order_comments_field {
  zoom: 1;
}
.woocommerce-shipping-fields #local-pickup-time-select:before,
.woocommerce-shipping-fields #order_comments_field:before,
.woocommerce-shipping-fields #local-pickup-time-select:after,
.woocommerce-shipping-fields #order_comments_field:after {
  content: "";
  display: table;
}
.woocommerce-shipping-fields #local-pickup-time-select:after,
.woocommerce-shipping-fields #order_comments_field:after {
  clear: both;
}
.rock-product-slide {
  display: inline-block;
  white-space: normal;
  padding: 0;
}
.rockSlider {
  height: auto;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
}
.food-slider .prev,
.food-slider .next {
  height: 30px;
  margin: 5px;
  color: gray;
  transition: 0.2s ease-in-out, background, border-color;
}
.food-slider .next {
  background: #dbdbdb url(../images/qty_arrow_right_disabled.png) no-repeat center center;
  display: inline-block;
  width: 30px;
}
.food-slider .prev {
  background: #dbdbdb url(../images/qty_arrow_left_disabled.png) no-repeat center center;
  display: inline-block;
  width: 30px;
}
.food-slider .next:hover {
  background: url(../images/qty_arrow_right_disabled-white.png) no-repeat center center;
}
.food-slider .prev:hover {
  background: url(../images/qty_arrow_left_disabled-white.png) no-repeat center center;
}
.food-slider .prev:hover,
.food-slider .prev:focus,
.food-slider .next:hover,
.food-slider .next:focus {
  background-color: #85c435;
}
.slider-title {
  float: left;
}
@media only screen and (min-width: 768px) {
  .slideButtons {
    float: right;
  }
}
.loginButton {
  float: left;
}
.startHidden,
.hiddenInOurTheme {
  display: none;
}
.woocommerce-error {
  display: inline-block;
}
@media only screen and (min-width: 768px) {
  .titleRow {
    min-height: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .titleRow {
    min-height: 98px;
  }
}
#home_button {
  text-align: center;
  margin: 15px;
}
@media only screen and (min-width: 480px) {
  #home_button {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  #home_slider_container {
    display: none;
  }
}
.woocommerce-billing-fields p,
tab-billing p {
  float: left;
  padding: 2px 15px 2px 15px;
  width: 250px;
  font-weight: 300;
  height: 67px;
  margin: 0;
}
#billing_company_field,
.woocommerce-billing-fields p.theContinueParagraph {
  width: 100%;
}
#billing_country_field {
  display: none;
}
.clear {
  display: none;
}
.shiftRight {
  margin-left: 25px;
}
div.continueAsGuest {
  margin-top: 10px;
}
#fakeSubmitOrder {
  float: left;
}
#place_order {
  display: none!important;
}
@media only screen and (min-width: 768px) {
  .page-id-19 .col-2 {
    margin-top: -35px;
  }
}
/* fixing some bootstrap stuff  */
.homecontainer .span4 {
  float: left;
}
ul#checkout_method_field > li > a {
  background : #D5D5D5;
  color: black;
}
ul#checkout_method_field > li.active > a{
  background: #85C435;
}
ul#checkout_method_field > li > a:hover{
  background: #A3DC58;
}
.statusBar {
  position: absolute;
  bottom: 0em;
}
.statusBar img{
  margin: 0em .05em;
  width: 20px;
  height: 20px;
}
.slide.rock-product-slide li .img-wrapper {
  position:relative;

}
.shipping-icon{
  position: absolute;
  right: 0%;
}
.shipping-icon img{
  width: 20px;
  height: 20px;
}

div#compiled_billing{
  width: 500px;
  clear: left;
}
div#compiled_billing p{
  clear: both;
  padding: 5px;
}
div#compiled_billing legend{
  font-size: 20px;
}
div#compiled_billing label.field{
  text-align: right;
  width: 150px;
  height: 18px;
  float: left;
  font-weight: bold;
}
div#compiled_billing span.address-300{
  width: 300px;
  float: left;
}

.col2-set .col-1 {

  float: left;
}

li.unavailable-tab{
  display:none;
}

li.payment_method_stripe img{
  width: 32px;
}

li.unavailable-shipping-method{
  display:none;
}
